@import "page-header.scss";
@import "headline.scss";
@import "reviews.scss";
@import "work-flow.scss";
@import "features.scss";
@import "users.scss";
@import "purposes.scss";
@import "consultations.scss";
@import "stories.scss";
@import "page-footer.scss";

.header__decoration {
  width: 80px;
  border: 1px solid #1968fc;
  position: relative;
  left: -40px;
}
.white {
  border: 1px solid white;
}
body {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png");
  background-size: cover;
}
.page {
  margin: 0 auto;
  @include for-small {
    width: 640px;
  }
  @include for-large {
    width: 1440px;
  }
}
