@import "page-header.scss";
@import "headline.scss";
@import "reviews.scss";
@import "work-flow.scss";
@import "features.scss";
@import "users.scss";
@import "purposes.scss";
@import "consultations.scss";
@import "stories.scss";
@import "page-footer.scss";

:root {
  --color: #000000;
}

.header__decoration {
  width: 80px;
  height: 2px;
  background-color: #1968fc;
  box-shadow: 0px 2px 0px #d1e1fe;
  position: relative;
  top: 10px;
  @include for-large {
    left: -40px;
  }
}
.white {
  border-bottom: 2px solid white;
}
body {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png");
  background-size: cover;
  margin: 0px;
  padding: 0px;
}
.page {
  margin: 0px auto;
  @include for-small {
    width: 600px;
  }
  @include for-extra-small {
    width: 360px;
  }
  @include for-large {
    width: 1200px;
  }
}
