@import "layout.scss";
.logo {
  display: flex;
  &__text {
    padding-left: 10px;
    font-family: "Mulish";
    font-weight: 600;
    font-size: 20px;
    vertical-align: 50px;
    line-height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1968fc;
  }
}
.page-header {
  max-height: 50px;
  box-sizing: border-box;
  @include for-large {
    box-sizing: border-box;
    display: flex;
    margin: 30px;
    &__navigation {
      box-sizing: border-box;
      margin-left: auto;
      width: 540px;
      display: flex;
      justify-content: flex-end;
      &_item {
        line-height: 20px;
        margin: auto;
        font-family: "Mulish";
        font-style: normal;
        font-size: 14px;
        text-decoration: none;
        color: var(--color);
        font-weight: 600;
      }
    }
    &__button {
      font-family: "Mulish", sans-serif;
      margin-left: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      min-width: 180px;
      height: 50px;
      text-transform: uppercase;
      color: white;
      background-color: #1968fc;
      border: none;
      outline: none;
    }
  }
  @include for-small {
    margin: 0px 0px;
    box-sizing: border-box;
    display: flex;

    &__navigation {
      display: none;
    }
    &__button {
      display: none;
    }
  }
}
